@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* { 
    margin:0; 
    padding:0;
    border:0;
 }


/* ----------Header - Navbar - Overrides */

.text-success:hover {
    color: rgb(29, 123, 50);
}

.navbar-toggler {
    border: 1px solid;    
    border-color: #28a745!important;
}

.navbar-toggler:hover {  
    border-color: #1d7b32!important;
}


/* ----------General pages */

section {
    min-height: calc(100vh - 250px); 
}

section h2 i {
    font-size: 80%;
}

section h5 i {
    font-size: 100%;
}

section h2, section h5 {
    text-align: center;
}

section h2 {
    padding-top: 10px;
}

section h5 {
    padding-bottom: 10px;
}

section form {
    width: 70%;
    margin: auto;
}

.carousel-inner {
    width: 60%;
    height: 80%;
    margin: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

.alert-success {
    background-color: rgb(29, 123, 50, 0.5);
}


/* ----------Footer */

footer {
    margin-bottom: 0;
}

footer i {
    color: #28a745; 
    font-size: 3rem;
}

footer i:hover {
    color: #1d7b32;
}
footer p {
    color: #28a745;
    font-size: small;
    text-align: center;
}

footer p:hover {
    color: #1d7b32;
}

.social {
    color: #28a745;
    text-align: center;
    padding: 20px;
}


/* ----------Section Pages */

.attention {
    max-width: 70%;
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid #28a745; 
    border-radius: .25rem;
    background-color: rgba(41, 168, 71, 0.5);
}

/* ----------XXX */

